/* Variables */

:root {
  --basic-black: #000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #fff;
  --basic-white-07: rgba(255, 255, 255, 0.7);
  --basic-filter-background: #DCDCDC;
  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-green: #91c92f;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --price-range-toggle-shadow: rgba(0, 0, 0, 0.18);
  --price-range-toggle-grey: #C4C4C4;
  --price-range-bar: #91C92F;
  --price-range-scale: rgba(0, 0, 0, 0.2);
  --bg-catalog-paginator: #EBEBEB;
  --paginator-hover: #D9D9D9;
  --basic-black-03: rgba(0, 0, 0, 0.3);
  --basic-black-06: rgba(0, 0, 0, 0.6);
  --pop-up-shadow: rgba(0, 0, 0, 0.15);
  --input-placeholder-color: rgba(0, 0, 0, 0.4);
  --input-bg-basic: #F2F2F2;
  --input-bg-hover: #EAEAEA;
  --input-bg-invalid: #f6dada;
}

/* Fonts */

/* Gilroy */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy-Light"),
       url("../fonts/gilroy-light.woff2") format("woff2"),
       url("../fonts/gilroy-light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy-ExtraBold"),
       url("../fonts/gilroy-extrabold.woff2") format("woff2"),
       url("../fonts/gilroy-extrabold.woff") format("woff");
}

/* Open Sans */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
       url("../fonts/opensans-light.woff2") format("woff2"),
       url("../fonts/opensans-light.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
       url("../fonts/opensans-regular.woff2") format("woff2"),
       url("../fonts/opensans-regular.woff") format("woff");
}

/* Keyframes */

@keyframes slide {
  0% {
    transform: translate(-400%, -50%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-51%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-49%, -50%);
  }
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

  /* Visually Hidden */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-repeat: no-repeat;
  background-position: top center;
}

.content-wrapper {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Buttons */

.button-basic {
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  width: 200px;
  z-index: 2;
  outline: none;
}

.button-basic:active {
  color: var(--basic-black-03);
}

.button-basic::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--special-yellow-dark);
  z-index: -1;
  transition: height 0.3s;
}

.button-basic:hover::before,
.button-basic:focus::before {
  height: 40px;
}

.link-basic-opacity:hover,
.link-basic-opacity:focus {
  opacity: 0.6;
}

.link-basic-opacity:active {
  opacity: 0.3;
}

/* Header */

.page-header {
  margin-top: 40px;
  min-height: 186px;
  background-color: var(--special-yellow);
  position: relative;
}

.page-header-main {
  margin-top: 40px;
  min-height: 300px;
  background-color: var(--special-yellow);
  position: relative;
}

.site-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 60px;
}

.header-logo {
  position: absolute;
  top: -20px;
  left: 0;
  line-height: 0;
}

.header-logo[href="index.html"]:hover img {
  opacity: 0.6;
}

.header-logo[href="index.html"]:active img {
  opacity: 0.3;
}

.nav-first-row,
.nav-second-row {
  width: 1040px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-first-row {
  margin-top: 29px;
  min-height: 50px
}

.header-login-cart {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 500px;
}

.header-login-cart li:nth-of-type(2) {
  margin-left: auto;
}

.header-login-cart li:last-of-type {
  margin-left: 44px;
  margin-right: 0;
}

.search-form {
  position: relative;
  width: 540px;
  display: flex;
}

.input-search {
  outline: 0;
  border: none;
  background: none;
  padding-left: 38px;
  width: 313px;
}

.input-search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  background-color: transparent;
  background-image: url(../img/cross-small.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 10px;
}

.search-form::before {
  position: absolute;
  content: " ";
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  display: block;
  transform: translateY(-50%);
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
}

.input-search::placeholder {
  opacity: 0.3;
}

.input-search:hover::placeholder {
  opacity: 0.6;
}

.input-search-submit {
  opacity: 0;
  cursor: pointer;
  padding: 15px 17px;
  border: none;
  background: none;
  text-transform: uppercase;
  border: 2px solid var(--basic-black);
  position: relative;
}

.input-search:focus + .input-search-submit {
  opacity: 1.0;
}

.input-search-submit::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 2px;
  bottom: -2px;
  right: 0;
  background-color: var(--basic-black);
  display: block;
}

.input-search-submit:hover {
  opacity: 1.0;
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.input-search-submit:focus {
  opacity: 1.0;
  background-color: var(--basic-black);
  color: var(--basic-white);
  outline: none;
}

.input-search-submit:active {
  color: var(--transparent-white);
  outline: none;
}

.header-login-cart-item {
  padding-left: 24px;
  position: relative;
}

.header-menu-link {
  color: var(--basic-black);
}

.header-menu-link:hover,
.header-menu-link:focus {
  opacity: 0.6;
}

.header-menu-link:active {
  opacity: 0.3;
}

.header-menu-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.header-login::before {
  background-image: url("../img/icon-user.svg");
  width: 13px;
  height: 14px;
}

.header-compare::before {
  background-image: url("../img/icon-chart.svg");
  width: 13px;
  height: 14px;
}

.header-cart::before {
  background-image: url("../img/icon-cart.svg");
  width: 13px;
  height: 14px;
}

.header-menu-link-exit {
  opacity: 0.3;
  margin-left: 22px;
}

.header-menu-link-exit:hover,
.header-menu-link-exit:focus {
  opacity: 0.6;
}

.header-menu-link-exit:active {
  opacity: 1;
}

.nav-second-row {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 35px;
}

.nav-second-row > li:first-of-type  {
  margin-left: 0;
  width: 540px;
}

.nav-second-row > li:nth-of-type(2) {
  margin-right: 35px;
}

.nav-second-row > li:nth-of-type(4) {
  margin-left: auto;
  margin-right: -4px;
}

.nav-second-row-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav-second-row-link:hover,
.nav-second-row-link:focus {
  color: var(--basic-black-06);
}

.nav-second-row-link:active {
  color: var(--basic-black-03);
}

.menu-catalog {
  position: relative;
}

.menu-catalog-link {
  letter-spacing: 0.1em;
  padding-right: 38px;
  position: relative;
}

.menu-catalog-link::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/icon-plus.svg");
  z-index: 70;
}

.dropdown-catalog-menu {
  display: none;
  position: absolute;
  z-index: 80;
  background-color: var(--special-yellow);
  width: 1160px;
  margin-left: -60px;
  padding: 30px 60px 46px 60px;
}

.menu-catalog-link:hover + .dropdown-catalog-menu,
.menu-catalog-link:focus + .dropdown-catalog-menu {
  display: block;
}

.dropdown-catalog-menu:hover {
  display: block;
}

.dropdown-catalog-menu-list {
  display: grid;
  grid-template-columns: 180px 125px 125px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 60px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-catalog-menu-list li {
  margin: 0;
}

.dropdown-catalog-menu-list li:last-of-type {
  grid-area: 3 / 1;
}

/* Page Main */

/* Promo Slider */

.promo-slider {
  margin-top: -130px;
  position: relative;
  min-height: 490px;
  z-index: 2;
}

.promo-slider-option {
  display: flex;
  justify-content: space-between;
  position: absolute;
  pointer-events: none;
  min-height: 490px;
  opacity: 0;
  width: 100%;
}

.promo-slider-option-active {
  position: relative;
  pointer-events: auto;
  opacity: 1;
}

.promo-slider-option img {
  margin: auto;
  margin-top: 2px;
}

.promo-slider-option:first-of-type img {
  transform: translateX(-20px);
}

.promo-slider-option:nth-of-type(2) img {
  transform: translate(-12px, 25px);
}

.promo-slider-option:last-of-type img {
  transform: translate(-7px, 80px);
}

.promo-slider-item {
  width: 513px;
  min-height: 490px;
  display: flex;
  flex-direction: column;
  margin-right: 47px;
  position: relative;
  z-index: 3;
}

.promo-slider-rectangle {
  width: 100px;
  height: 7px;
  display: block;
  margin-top: 35px;
  background-color: var(--basic-white);
}

.promo-item-slogan {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin-top: 52px;
  margin-bottom: 0;
}

.promo-item-description {
  margin-top: 27px;
  margin-bottom: 60px;
}

.promo-item-features {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  border-spacing: 60px 12px;
  display: flex;
  margin-bottom: -15px;
  margin-left: -60px;
}

.promo-item-features td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.promo-item-features th {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
}

.promo-item-number {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 188px;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--basic-white);
  z-index: -2;
}

.promo-slider-option:not(:first-of-type) .promo-item-number {
  transform: translateX(-7px);
}

.button-basic-slider {
  width: 220px;
  margin-bottom: 45px;
}

.promo-slider-buttons {
  position: absolute;
  display: flex;
  right: 88px;
  bottom: 138px;
  z-index: 30;
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo-slider-buttons li:not(:last-of-type) {
  margin-right: 18px;
}

.promo-slider-button {
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-image: url(../img/slider-button-off.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.promo-slider-button-active {
  background-image: url(../img/slider-button-on.svg);
}

/* Items */

.item-types-selection {
  margin-top: 116px;
}

.item-types {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-type {
  display: flex;
  flex-direction: column;
}

.item-type-name {
  margin: 0px;
  margin-top: 198px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.item-type-fitness {
  letter-spacing: 0;
}

.item-type-link {
  display: block;
  position: relative;
}

.item-type-link::before {
  content: "";
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-color: var(--special-yellow);
  display: block;
  position: absolute;
}

.item-type-link::after {
  content: "";
  position: absolute;
  top: 79px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  background-repeat: no-repeat;
}

.item-type-link:hover::before,
.item-type-link:focus::before {
  background-color: var(--special-yellow-dark);
}

.item-type-link:active::after,
.item-type-link:active .item-type-name {
  opacity: 0.3;
}

.icon-vr::after {
  width: 97px;
  height: 55px;
  background-image: url(../img/icon-vr.svg);
  background-size: 97px 55px;
}

.icon-selfie::after {
  width: 86px;
  height: 126px;
  background-image: url(../img/icon-selfie.svg);
  background-size: 86px 117px;
  background-position: bottom;
}

.icon-action-camera::after {
  width: 71px;
  height: 87px;
  background-image: url(../img/icon-action-camera.svg);
  background-size: 71px 87px;
}

.icon-fitness-bracelet::after {
  width: 107px;
  height: 65px;
  background-image: url(../img/icon-fitness-bracelet.svg);
  background-size: 107px 65px;
}

.icon-smartwatch::after {
  width: 56px;
  height: 98px;
  background-image: url(../img/icon-smartwatch.svg);
  background-size: 56px 98px;
}

.icon-quadrocopter::after {
  width: 132px;
  height: 69px;
  background-image: url(../img/icon-quadrocopter.svg);
  background-size: 132px 69px;
}

/* Business Services */
.business-services {
  margin-top: 184px;
  background-color: var(--basic-grey-light);
  display: block;
  min-height: 289px;
}

.business-services .content-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  top: -30px;
}

.services-selector {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 285px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-top: 10px;
}

.services-selector::after {
  position: absolute;
  content: "";
  height: 320px;
  width: 7px;
  background-color: var(--basic-black);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.services-selector li:not(:last-of-type) {
  margin-bottom: 21px;
}

.service-option {
  display: flex;
  width: 100%;
  min-height: 40px;
}

.service-option-active {
  background-color: var(--basic-black);
}

.service-option-active .button-basic {
  color: var(--special-yellow);
}

.service-option-active .button-basic::before {
  display: none;
}

.service-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
}

.service-description {
  display: block;
  margin-left: 115px;
  flex-grow: 1;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.service-description::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  top: 0;
  right: 0;
}

.service-description-delivery::after {
  background-image: url(../img/icon-delivery.svg);
  width: 136px;
  height: 164px;
  top: 1px;
  right: 2px;
}

.service-description-warranty::after {
  background-image: url(../img/icon-warranty.svg);
  width: 171px;
  height: 195px;
  top: -17px;
  right: -16px;
}

.service-description-credit::after {
  background-image: url(../img/icon-credit.svg);
  width: 156px;
  height: 188px;
  top: -21px;
  right: 8px;
}

.service-description-active {
  position: relative;
  opacity: 1;
  pointer-events: auto;
}

.service-description h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  margin-top: 2px;
}

.service-description p {
  line-height: 28px;
  letter-spacing: 0.1em;
  max-width: 574px;
  margin-top: 38px;
  margin-bottom: 10px;
}

.service-description-warranty p {
  margin-top: 40px;
  line-height: 30px;
}

/* Manufacturer List */
.manufacturers {
  margin-top: 90px;
  }

.manufacturer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.manufacturer {
  width: 260px;
  height: 100px;
}

.manufacturer-logo {
  display: block;
  width: 100%;
  height: 100%;
}

.logo-dji {
  background-image: url(../img/logo-dji-bw.png);
}

.logo-dji:hover,
.logo-dji:focus {
  background-image: url(../img/logo-dji.png);
}

.logo-sp-gadgets {
  background-image: url(../img/logo-sp-gadgets-bw.png);
}

.logo-sp-gadgets:hover,
.logo-sp-gadgets:focus {
  background-image: url(../img/logo-sp-gadgets.png);
}

.logo-go-pro {
  background-image: url(../img/logo-go-pro-bw.png);
}

.logo-go-pro:hover,
.logo-go-pro:focus {
  background-image: url(../img/logo-go-pro.png);
}

.logo-vive {
  background-image: url(../img/logo-vive-bw.png);
}

.logo-vive:hover,
.logo-vive:focus {
  background-image: url(../img/logo-vive.png);
}

/* About & Contact Info */

.about-contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  min-height: 580px;
  margin-bottom: 86px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 473px;
  position: relative;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 560px;
  position: relative;
}

.about::before,
.contacts::before {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: var(--basic-black);
}

.about-contacts-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-top: 57px;
  margin-bottom: 40px;
}

.about-contacts-description {
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 40px;
}

.delivery-partners-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.delivery-partner-name {
  padding-left: 32px;
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 15px;
}

.delivery-partner-name::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about .button-basic,
.contacts .button-basic {
  margin-top: auto;
  width: 260px;
}

.contacts-map {
  line-height: 0;
  cursor: pointer;
}

.contacts-map img {
  width: 560px;
  height: 222px;
}

/* Catalog Page */

.catalog-margin-left {
  margin-left: 60px;
}

.catalog-heading-main {
  margin-top: 44px;
  margin-bottom: 32px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.catalog-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-breadcrumbs li:not(:first-of-type) {
  margin-left: 16px;
  padding-left: 25px;
  position: relative;
}

.catalog-breadcrumbs li:not(:first-of-type)::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 4px;
  background-image: url("../img/icon-arrow-nav.svg");
  background-repeat: no-repeat;
}

.catalog-breadcrumbs li:nth-of-type(2)::after {
  left: -3px;
}

.catalog-breadcrumb a {
  opacity: 0.3;
}

.breadcrumb-interactive:hover {
  opacity: 0.6;
}

.breadcrumb-interactive:active {
  opacity: 0.1;
}

.catalog-filter-top {
  background-image: linear-gradient(to right, var(--basic-filter-background) 0%, var(--basic-filter-background) calc(50% - 252px), var(--basic-grey-light) calc(50% - 252px), var(--basic-grey-light) 100%);
  margin-top: 50px;
  min-height: 70px;
  display: flex;
  align-items: center;
}

.catalog-filter-top .content-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
}

.filter-top-left {
  width: 268px;
  display: flex;
  align-items: center;
}

.filter-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-top-right {
  display: flex;
  align-items: center;
  width: 832px;
  border: none;
  padding-left: 72px;
}

.filter-top-right .filter-heading {
  margin-right: 73px;
}

.catalog-sorting-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 289px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-sorting-options li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.sorting-option {
  opacity: 0.3;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding: 5px 0;
}

.sorting-option:hover,
.sorting-option:focus {
  opacity: 0.6;
}

.sorting-option-active {
  opacity: 1;
}

.catalog-sorting-arrows {
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
}

.catalog-sorting-arrows li:not(:last-of-type) {
  margin-right: 16px;
}

.sorting-arrow {
  border: 0;
  background: none;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  padding: 0;
  display: block;
}

.sorting-arrow:hover,
.sorting-arrow:focus {
  opacity: 0.4;
}

.sorting-arrow:active {
  opacity: 1;
}

.sorting-arrow-inactive {
  opacity: 0.2;
}

.sorting-arrow-up {
  transform: rotate(180deg);
}

.catalog-main {
  background-image: linear-gradient(to right, var(--basic-grey-light) 0%, var(--basic-grey-light) calc(50% - 252px), transparent calc(50% - 252px), transparent 100%);
}

.catalog-main .content-wrapper {
  padding-left: 80px;
  display: flex;
}

.catalog-filter-aside {
  width: 268px;
  display: flex;
  flex-direction: column;
  padding-right: 68px;
}

.catalog-filter-aside fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-aside fieldset:nth-of-type(1) {
  margin-top: 70px;
}

.catalog-filter-aside fieldset:nth-of-type(2) {
  margin-top: 37px;
}

.catalog-filter-aside fieldset:nth-of-type(3) {
  margin-top: 40px;
}

.filter-legend {
  border-top: 2px solid var(--basic-black);
  width: 200px;
  padding-top: 14px;
  margin-bottom: 30px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.price-range input {
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: var(--font-color-primary);
  width: 35px;
  text-align: left;
  padding: 0;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

.price-range-inputs {
  margin: 0;
  margin-top: 7px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.price-range-inputs input:first-of-type {
  margin-right: 37px;
}

.price-range-inputs input::-webkit-inner-spin-button,
.price-range-inputs input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.filter-price-range {
  width: 200px;
  height: 22px;
  padding: 10px 0;
  position: relative;
}

.filter-price-range .scale {
  height: 2px;
  background-color: var(--price-range-scale);
}

.filter-price-range .bar {
  width: 70%;
  height: 2px;
  background-color: var(--price-range-bar);
}

.filter-price-range .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: var(--price-range-toggle-grey);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 2px var(--price-range-toggle-shadow);
  box-sizing: content-box;
  position: absolute;
  top: 1px;
  left: 0;
  cursor: pointer;
}

.filter-price-range .toggle-min {
  left: 12px;
}

.filter-price-range .toggle-max {
  left: 133px;
}

.input-checkbox {
  position: absolute;
  opacity: 0;
}

.label-checkbox {
  padding-left: 42px;
  position: relative;
  font-size: 14px;
  line-height: 19px;
}

.label-checkbox::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  left: 0;
  top: -4px;
  border-radius: 2px;
}

.label-checkbox::after {
  opacity: 0;
  position: absolute;
  content: "";
  left: 9px;
  top: 0;
  width: 6px;
  height: 13px;
  border: solid var(--basic-black);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.input-checkbox:checked + .label-checkbox::after {
  opacity: 1;
}

.input-checkbox:not(:disabled):active + .label-checkbox::after,
.input-checkbox:active + .label-checkbox::before {
  opacity: 1;
}

.input-checkbox:focus + .label-checkbox::before {
  box-shadow: 0 0 2px 2px var(--special-yellow-dark);
}

.label-checkbox:hover::before,
.input-checkbox:checked + .label-checkbox:hover::after {
  opacity: 0.6;
}

.input-checkbox:checked:active + .label-checkbox::after {
  opacity: 0;
}

.input-checkbox:checked:active + .label-checkbox::before {
  opacity: 1;
}

.input-checkbox:disabled + .label-checkbox::before,
.input-checkbox:checked:disabled + .label-checkbox::after,
.input-checkbox:disabled:active + .label-checkbox::before {
  opacity: 0.25;
}

.filter-colors {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-colors li:not(:last-of-type) {
  margin-bottom: 20px;
}

.filter-bluetooth {
  display: flex;
  flex-direction: column;
}

.filter-bluetooth-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-bluetooth-options li:not(:last-of-type) {
  margin-bottom: 21px;
}

.input-radio-bluetooth {
  position: absolute;
  opacity: 0;
}

.label-radio-bluetooth {
  padding-left: 40px;
  position: relative;
}

.label-radio-bluetooth::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.label-radio-bluetooth::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--basic-black);
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.input-radio-bluetooth:checked + .label-radio-bluetooth::after {
  opacity: 1.0;
}

.input-radio-bluetooth:checked + .label-radio-bluetooth:hover::after {
  opacity: 0.6;
}

.input-radio-bluetooth:not(:disabled):checked:active + .label-radio-bluetooth::after {
  opacity: 0;
}

.input-radio-bluetooth:not(:disabled):checked:active + .label-radio-bluetooth::before {
  opacity: 0.6;
}

.input-radio-bluetooth:not(:disabled):active + .label-radio-bluetooth::after,
.input-radio-bluetooth:active + .label-radio-bluetooth::before {
  opacity: 1;
}

.label-radio-bluetooth:hover::before {
  opacity: 0.6;
}

.input-radio-bluetooth:checked:disabled + .label-radio-bluetooth::after,
.input-radio-bluetooth:disabled + .label-radio-bluetooth::before {
  opacity: 0.25;
}

.input-radio-bluetooth:focus + .label-radio-bluetooth::before {
  box-shadow: 0 0 2px 2px var(--special-yellow-dark);
}

.catalog-filter-aside button {
  margin-top: 53px;
  width: 100%;
}

/* Catalog Item Cards */

.catalog-items {
  padding-left: 72px;
  padding-top: 70px;
}

.catalog-item-list {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-item-article {
  display: flex;
  flex-direction: column;
  position: relative;
}

.item-new::after {
  position: absolute;
  content: "NEW";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  color: var(--basic-black-03);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  border: 2px solid var(--basic-black-03);
  top: 29px;
  right: 27px;
}

.image-overlap {
  position: absolute;
  width: 360px;
  height: 380px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-item-article:hover img,
.catalog-item-article:hover::after,
.catalog-item-article:focus-within img,
.catalog-item-article:focus-within::after {
  opacity: 0.7;
}

.button-to-cart {
  margin-top: 180px;
  width: 200px;
  opacity: 0;
}

.button-to-cart:focus {
  opacity: 1.0;
}

.button-to-comparison {
  margin-top: 22px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0;
}

.catalog-item-article:hover .button-to-comparison,
.catalog-item-article:focus-within .button-to-comparison {
  opacity: 0.5;
}

.catalog-item-article .button-to-comparison:focus,
.catalog-item-article:hover .button-to-cart,
.catalog-item-article:hover .button-to-comparison:hover,
.catalog-item-article:focus-within .button-to-cart {
  opacity: 1;
}

.catalog-item-article:hover .button-to-comparison:active,
.catalog-item-article .button-to-comparison:active {
  opacity: 0.2;
}

.item-name-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.item-name {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  max-width: 277px;
  margin: 0;
}

.item-name:active {
  opacity: 0.3;
}

.item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin: 0;
  margin-left: 5px;
  margin-right: -3px;
}

.catalog-paginator {
  background-color: var(--bg-catalog-paginator);
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 41px;
  margin-bottom: 78px;
}

.catalog-paginator li {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog-paginator li:nth-of-type(2) {
  margin-left: auto;
}

.catalog-paginator li:nth-of-type(3) {
  margin: 0 2px;
}

.catalog-paginator li:nth-of-type(4) {
  margin-right: auto;
}

.catalog-paginator a {
  display: block;
}

.paginator-previous,
.paginator-next {
  padding: 25px 30px;
}

.paginator-previous:hover,
.paginator-next:hover,
.paginator-previous:focus,
.paginator-next:focus {
  background-color: var(--paginator-hover);
}

.paginator-previous:active,
.paginator-next:active {
  color: var(--basic-black-03);
}

.paginator-page-number {
  padding: 25px 11px;
  opacity: 0.3;
  min-width: 37px;
  text-align: right;
}

.paginator-page-number:hover,
.paginator-page-number:focus {
  opacity: 0.6;
}

.paginator-page-number:active {
  opacity: 1;
}

.paginator-on-page {
  opacity: 1;
}

/* Footer */

.page-footer {
  background-color: var(--basic-dark);
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-first-row,
.footer-second-row,
.footer-third-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-first-row {
  margin-top: 47px;
}

.footer-second-row {
  margin-top: 40px;
}

.footer-third-row {
  margin-top: 66px;
  margin-bottom: 65px;
}

.footer-logo {
  line-height: 0;
  margin-top: 17px;
}

.footer-logo[href="index.html"]:hover img {
  opacity: 0.6;
}

.footer-logo[href="index.html"]:active img {
  opacity: 0.3;
}

.footer-login-cart {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-width: 480px;
  align-self: flex-start;
}

.footer-login-cart li {
  padding-left: 24px;
  position: relative;
}

.footer-login-cart li:not(:first-of-type) {
  margin-left: 40px;
}

.footer-menu-link {
  color: var(--basic-white-07);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--basic-white);
}

.footer-menu-link:active {
  opacity: 0.3;
}

.footer-menu-link:hover::before,
.footer-menu-link:focus::before {
  opacity: 0.6;
}

.footer-menu-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-menu-logged-in {
  margin-right: auto;
}

.footer-menu-link-exit {
  margin-left: 24px;
}

.footer-login::before {
  background-image: url(../img/icon-user-yellow.svg);
  width: 13px;
  height: 14px;
}

.footer-compare::before {
  background-image: url(../img/icon-chart-yellow.svg);
  width: 13px;
  height: 14px;
}

.footer-cart::before {
  background-image: url(../img/icon-cart-yellow.svg);
  width: 13px;
  height: 14px;
}

.footer-address,
.footer-phone-number {
  color: var(--basic-white);
  margin: 0;
  line-height: 22px;
}

.footer-business-info {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
  max-width: 530px;
}

.footer-business-info li:first-of-type {
  margin-left: 6px;
}

.footer-business-info li:not(:first-of-type) {
  margin-left: 33px;
}

.footer-business-info-link {
  color: var(--basic-white);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
}

.footer-business-info-link:hover,
.footer-business-info-link:focus {
  opacity: 0.6;
}

.footer-business-info-link:active {
  opacity: 0.3;
}

.line-yellow {
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
  margin-top: -2px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  line-height: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -50px;
}

.footer-social li:not(:first-of-type) {
  margin-left: 20px;
}

.footer-social-link {
  line-height: 0;
}

.footer-social-link img {
  opacity: 0.6;
}

.footer-social-link:hover img,
.footer-social-link:focus img {
  opacity: 1.0;
}

.footer-social-link:active img {
  opacity: 0.3;
}

.logo-html-academy {
  line-height: 0;
  width: 27px;
  height: 34px;
  align-self: flex-end;
}

.logo-html-academy:hover img,
.logo-html-academy:focus img {
  opacity: 0.6;
}

.logo-html-academy:active img {
  opacity: 0.3;
}

  /* Map & Feedback Popups */

.pop-up-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
}

.pop-up-overlay-active {
  display: block;
}

.pop-up-map {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: 0px 10px 16px var(--pop-up-shadow);
}

.google-maps {
  width: 960px;
  height: 550px;
}

.pop-up-map-active {
  display: block;
  animation-name: slide;
  animation-duration: 0.6s;
}

.pop-up-feedback {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  padding: 92px 100px 69px 100px;
  background-color: var(--basic-white);
  z-index: 100;
  box-shadow: 0px 10px 16px var(--pop-up-shadow);
  max-height: 100%;
}

.pop-up-feedback-active {
  display: block;
  animation-name: slide;
  animation-duration: 0.6s;
}

.pop-up-error {
  animation-name: shake;
  animation-duration: 0.4s;
}

.pop-up-feedback form {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  justify-content: space-between;
}

.pop-up-feedback fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.pop-up-legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.pop-up-input {
  padding: 16px 20px 15px 20px;
  background-color: var(--input-bg-basic);
  outline: none;
  border: none;
  color: var(--basic-dark);
  font-size: 14px;
  line-height: 16px;
}

.pop-up-input:hover {
  background-color: var(--input-bg-hover);
}

.pop-up-input:invalid {
  background-color: var(--input-bg-invalid);
}

.pop-up-input-invalid {
  background-color: var(--input-bg-invalid);
}

.pop-up-input:focus {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--special-yellow);
}

.pop-up-input::placeholder {
  font-size: 14px;
  line-height: 19px;
  color: var(--input-placeholder-color);
}

.feedback-input-name,
.feedback-input-email {
  width: 360px;
  margin-bottom: 32px;
}

.feedback-input-message {
  min-width: 760px;
  max-width: 760px;
  min-height: 163px;
  max-height: calc(100vh - 460px);
  margin-bottom: 54px;
}

.pop-up-close {
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: var(--special-yellow-dark);
  border-radius: 50%;
  right: 20px;
  top: 20px;
  border: none;
  opacity: 0.5;
  outline: none;
  cursor: pointer;
}

.pop-up-close:hover,
.pop-up-close:focus  {
  opacity: 1;
  box-shadow: 0 0 2px 1px var(--basic-black);
}

.pop-up-close:active {
  opacity: 0.3;
}

.pop-up-close::before,
.pop-up-close::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: var(--basic-white);
  top: 25px;
  left: 15px;
  opacity: 0.7;
}

.pop-up-close:hover::before,
.pop-up-close:focus::before,
.pop-up-close:hover::after,
.pop-up-close:focus::after  {
  box-shadow: 0 0 1px 0 var(--basic-black);
}

.pop-up-close::before {
  transform: rotate(45deg);
}

.pop-up-close::after {
  transform: rotate(-45deg);
}

.travolta-wrapper {
  margin: 120px 0;
  width: 100%;
}

.travolta-wrapper img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 var(--special-yellow-dark), inset 0 0 7px 0 var(--special-yellow-dark);
  width: 443px;
  height: 431px;
}
